body{
  background-color: black;
}

p, h1, h2, h3, a, ul{
  /*margin: 0;*/
  /*padding: 0;*/
  /*text-decoration: none;*/
}

footer{
  color: #C9C9C9;
  text-align: center;
  margin: 80px auto 20px;
  display: flex;
  justify-content: center;
}
#footer footer p {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  margin-right: 10px;
}
.img-unsplash {
  width: 110px;
  height: 40px;
  transform: translateY(-13px);
}
h2{
   /*margin-bottom: 40px;*/
}
h3{
   /*margin-bottom: 8px;*/
}
.content{
  margin-left: 20px;
}

/* index styles */
.blogs a{
  display: block;
  margin: 40px 0;
  padding-left: 30px;
  border-left: 6px solid crimson;
}
.blogs a:hover h3{
  color: crimson;
}

/* details styles */
.details{
  position: relative;
  color: #FFFFFF;
  top: 100px;
  inline-size: 500px;
}
.delete{
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  padding: 8px;
  background-color: #FFFFFF;
}
.delete:hover{
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}

/* create styles */
.create-blog {
  margin-top: 100px;
}
.create-blog form{
  max-width: 400px;
  margin: 0 auto;
  color: #FFFFFF;
}
.create-blog input,
.create-blog textarea{
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}
.create-blog label{
  display: block;
  margin-top: 24px;
}
textarea{
  height: 120px;
}
.create-blog button{
  margin-top: 20px;
  background: crimson;
  color: white;
  padding: 6px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
}

/*navbar styling*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 1vh;
  background-color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  position: fixed; /*stackoverflow aid, fix it at top*/
  top: 0px;
  width: 100%;
}
.navbar-class {
  z-index: 3; /*2 is still behind indicators*/
}
/*dropdown styling*/
nav ul li{
  position: relative;
}
nav ul li a {
  display: block;
  padding: 10px 10px;
}
nav ul li a:hover {
  border-bottom: 3px solid white;
}
nav ul li ul {
  display: none; /*dropdown creation*/
  position: absolute;
  background-color: #000000;
  padding: 10px;
  border-radius: 0px 0px 10px 10px; /*rounded bottom corners*/
  z-index: 1; /*will be behind image background if below 1*/
}
nav ul li:hover ul { /*dropdown creation*/
  display: block;
}
nav ul li ul li {
  width: 400px; /*fit words on one line*/
}
nav ul li ul li a{
  padding: 10px 10px;
}
nav ul li ul li a:hover{
  background-color: #00BBB2; /*medium dark cyan*/
}

/*logo*/
.logo {
}
.logo a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 21px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

/*navigation links*/
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.nav-links a {
  color: #FFFFFF;
  text-decoration: none;
}
.nav-links li {
  list-style: none;
}
.down-caret { /*borrowed code from codepen, works great*/
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #ffffff transparent transparent transparent;
  display: inline-block;
  margin-left: 6px;
  top: -3px;
  position: relative;
  transform: rotate(0deg);
  transition: all .25s ease-in;
}

/*burger*/
.burger {
  position: relative;   /*Without thix, the burger becomes unclickable when the screen gets too small*/
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #FFFFFF;
  margin: 5px;
}

/*Screen size 1080p or smaller*/
@media screen and (max-width: 1080px) {

  body {
    overflow-x: hidden;
    position: relative; /*Had to mess with the body to make navigation bar work.*/
    z-index: -2; /*Had to mess with the body to make navigation bar work.*/
  }

  .nav-links {
    position: absolute;
    top: 0px;
    height: 4vh;
    background-color: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateY(0%);
    opacity: 0%;
  }
  nav ul li:hover ul { /*dropdown creation*/
    display: block;
    z-index: 0;
  }

  .burger {
    display: block;
  }
}

/*styling for navbar during shrunken page*/
.nav-active {
  opacity: 100%;
  transform: translateY(90%);
  width: 100%;
  transition: transform 0.5s ease-in;
  position: absolute;
  z-index: 1;
 /* z-index: -1; educational comment, -1 makes it unclickable over an image*/
}

/*Burger into X*/
.on .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.on .line2{
  opacity: 0;
}
.on .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

/*Website portfolio styling*/
#carousel {
  color: #C9C9C9;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}
#carouselExampleIndicators{ /*Don't change this name*/
  padding-left: 40px;
}
.carousel {
  width: 910px;
  height: 507px;
}

.carousel-inner {
  width: 850px;
  height: 477px;
}

.carousel-control-next {
  width: fit-content; /*needed to shrink clickable area down to only the icon*/
  height: fit-content;
  top: 45%;
  transform: translateY(-50%);
  transform: translateX(10px);
}

.carousel-control-prev {
  width: fit-content; /*needed to shrink clickable area down to only the icon*/
  height: fit-content;
  top: 45%;
  transform: translateY(-50%);
  transform: translateX(10px);
}
.carousel-indicators {
  transform: translateY(20px);
}
.carousel-grid {
  display: flex;
  justify-content: center;
  margin-top: 378px;
  margin-bottom: 378px;
}
.carousel-grid-description-container {
  width: 390px;
  height: 507px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
}

.carousel-grid-description-container_h5 h5{
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing: 3px;
  font-weight: 300;
}
.carousel-grid-description-container_h2 h2{
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 1.4;
}
.carousel-grid-description-container_paragraph1{
  padding-top: 15px;
  padding-bottom: 15px;
}
.carousel-grid-description-container_paragraph2{
  padding-bottom: 15px;
}
.carousel-grid-description-container_paragraph2 strong{
  color: #FFFFFF;
}
.carousel-grid-description-container_button{
  /*Here if needed*/
}
.visit-website_button {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  fill: #ffffff;
  color: #ffffff;
  background-color: black; /*transition: background-color 300ms; doesn't work*/
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 0px 0px 0px 0px;
  padding: 15px 45px 15px 45px;
  border-color: white;
}
.visit-website_button:hover {
  cursor: pointer;
  background-color: #C9C9C9;
  -webkit-transition: background-color 300ms linear; /*stackoverflow paste*/
-ms-transition: background-color 300ms linear;
transition: background-color 300ms linear;
}

#description {
  color: #C9C9C9;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}
.description-grid {
  display: flex;
  justify-content: center;
  line-height: 175%;
}
.description-grid a {
  color: #00BBB2;
  transition: color 300ms;
}
.description-grid a:hover {
  color: #FFFFFF;
}
.description-grid p {
  margin-bottom: 1.25em;
}
.description-grid  ul { /*stackoverflow paste, indenting each line*/
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -1em;
  padding-left: 1em;
}
.description-container1 {
  width: 565px;
  height: 505px;
  padding-right: 20px;
}
.description-container2 {
  width: 565px;
  height: 505px;
  padding-right: 20px;
}
.container-box {
  margin: 30px auto;
  padding: 0 30px;
}
.description-container { /*It's in one container, didn't need 2*/
  width: 1170px;
  height: 700px;
  padding: 10px;
  column-width: 570px;
  inline-size: 570px;
  transform: translateX(-50%);
}
