<footer>
  <p>© 2022 Nexus Marketing | Download free images from Nexus on</p>
  <a href="https://unsplash.com/@brettwharton" target="_blank">
    <img class="img-unsplash" src="/Unsplash-wordmark-logo-white.svg" alt="">
  </a>
</footer>
