<html lang="en">

<%- include('./partials/head-sublinks.ejs') %>

<body>
  <%- include("./partials/nav.ejs") %>
  <div class="not-found content">
    <h1>OOPS, page not found :)</h1>
  </div>

  <%- include("./partials/footer.ejs") %>

  <!--link to javascript file-->
  <script src="/index.js">
  </script>
</body>

</html>
