<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('./partials/head-sublinks.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="blog-gallery">
      <div class="blog-grid">
          <article class="blog-item">
            <a href="#">
              <div class="blog-image-container">
                <img src="/blog/vistaprint-door-hangers-768x768.webp" alt="">
              </div>
            </a>
            <div class="blog-text-container">
              <h3 class="blog-title">
                <a href="#">
                  Door Hangers: $0.35 Per Door, $18 Customer Acquisition Cost
                </a>
              </h3>
              <p class="blog-excerpt">
                Door hanger campaigns are perhaps the most economical and effective type of local print campaign.
                Door hangers are easy to create, print, and distribute.
              </p>
            </div>
          </article>
          <article class="blog-item">
            <a href="#">
              <div class="blog-image-container">
                <img src="/blog/tips-for-designing-effective-logos-768x512.webp" alt="">
              </div>
            </a>
            <div class="blog-text-container">
              <h3 class="blog-title">
                <a href="#">
                  Tips for Designing Effective Logos
                </a>
              </h3>
              <p class="blog-excerpt">
This guide covers design principles that will help you or your designer find the distinctive visual essence of your organization.
              </p>
            </div>
          </article>
          <article class="blog-item">
            <a href="#">
              <div class="blog-image-container">
                <img src="/blog/how-to-outline-your-webinar-768x512.webp" alt="">
              </div>
            </a>
            <div class="blog-text-container">
              <h3 class="blog-title">
                <a href="#">
                  Webinar Outline Template
                </a>
              </h3>
              <p class="blog-excerpt">
                See the exact story beats used by top hosts like Tony Robbins. Plug your content into this time-tested formula and you’re ready to go!
              </p>
            </div>
          </article>
          <article class="blog-item">
            <a href="#">
              <div class="blog-image-container">
                <img src="/blog/man-examining-Internet-links-how-to-find-and-fix-broken-links-SEO-768x512.webp" alt="">
              </div>
            </a>
            <div class="blog-text-container">
              <h3 class="blog-title">
                <a href="#">
                  The Easy Way to Find and Fix Broken Links
                </a>
              </h3>
              <p class="blog-excerpt">
                In this article, you’ll learn what broken links are, how to find them, how to fix them, and even how to gain SEO backlinks from them.
              </p>
            </div>
          </article>
      </div>
    </div>
    <section id="footer">
      <%- include('./partials/footer.ejs') %>
    </section>
    <%- include('./partials/index-bootstrap-js.ejs') %>
  </body>
</html>
