<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include('./partials/head-sublinks.ejs') %>

  <body>

    <%- include('./partials/nav.ejs') %>

    <h1>deliberate directions</h1>
    <h2><a href="/index">Home</a></h2>

    <%- include('./partials/footer.ejs') %>

    <!--link to javascript file-->
    <script src="index.js">
    </script>
  </body>

</html>
