<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('./partials/head-sublinks.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <section id="intro">
      <div class="container-intro"> <!-- div for background image, container class needed-->
        <div class="hands-typing-overlay ">
          <!--- The div alone makes the overlay (pseudocontent) -->
        </div>

        <img class="hands-typing" src="/seo writing and media/mango-sour-next-to-MacBook-Air-laptop.webp" alt="hands-typing">

          <div class="centered"> <!--nested div for centering -->
            <h4>I'm also your resource for...</h4>
            <h1>SEO strategy, writing, and media production.</h1>
          </div>
      </div>
    </section>

    <section id="writing-portfolio">
      <h2>WRITING PORTFOLIO</h2>
      <div class="writing-portfolio-subtext">
        <div class="writing-portfolio-subtext-container">
          <p>Your message, content, and communication are vital to your success.
             That’s why when I’m not programming, I’m copywriting, ghost writing,
             blogging, and link-building. I can help you…</p>
           <ul>
             <li><strong>grow</strong> your audience on social media</li>
             <li><strong>stay</strong> in touch with your newsletter subscribers</li>
             <li><strong>bring</strong> new people to your website with ads and SEO</li>
             <li><strong>increase</strong> your conversion rate and boost your sales</li>
           </ul>
        </div>
      </div>
      <div class="writing-portfolio-gallery">
          <div class="writing-portfolio-grid">
            <article class="writing-portfolio-links">
              <div class="writing-portfolio-gallery-image">
                <a href="https://www.learn2franchise.com/blog-posts/start-your-business-regardless-of-the-economy" target="_blank"><img src="/seo writing and media/start-your-business-regardless-of-economy-2-768x512.webp" alt=""></a>
              </div>
              <div>
                <p><a href="https://www.learn2franchise.com/blog-posts/start-your-business-regardless-of-the-economy" target="_blank">Start Your Business Regardless of the Economy</a></p>
              </div>
            </article>
            <article class="writing-portfolio-links">
              <div class="writing-portfolio-gallery-image">
                <a href="https://www.learn2franchise.com/blog-posts/benefits-starting-business-during-recession" target="_blank"><img src="/seo writing and media/benefits-of-starting-business-during-recession-768x512.webp" alt=""></a>
              </div>
              <div>
                <p><a href="https://www.learn2franchise.com/blog-posts/benefits-starting-business-during-recession" target="_blank">10 Benefits of Starting a Business During a Recession</a></p>
              </div>
            </article>
            <article class="writing-portfolio-links">
              <div class="writing-portfolio-gallery-image">
                <a href="https://www.learn2franchise.com/blog-posts/home-garage-organizing-business" target="_blank"><img src="/seo writing and media/organized-kitchen-home-and-garage-organizing-business-768x512.webp" alt=""></a>
              </div>
              <div>
                <p><a href="https://www.learn2franchise.com/blog-posts/home-garage-organizing-business" target="_blank">How to Start a Home and Garage Organizing Business + Top Franchises</a></p>
              </div>
            </article>
            <article class="writing-portfolio-links">
              <div class="writing-portfolio-gallery-image">
                <a href="https://deliberatedirections.com/advance-your-career" target="_blank"><img src="/seo writing and media/how-to-advance-your-career-advancement-768x512.webp" alt=""></a>
              </div>
              <div>
                <p><a href="https://deliberatedirections.com/advance-your-career" target="_blank">Feeling Stuck? Here’s How to Advance Your Career</a></p>
              </div>
            </article>
            <article class="writing-portfolio-links">
              <div class="writing-portfolio-gallery-image">
                <a href="#"><img src="/seo writing and media/start-your-business-regardless-of-economy-2-768x512.webp" alt=""></a>
              </div>
              <div>
                <p><a href="#">Start Your Business Regardless of the Economy</a></p>
              </div>
            </article>
            <article class="writing-portfolio-links">
              <div class="writing-portfolio-gallery-image">
                <a href="#"><img src="/seo writing and media/start-your-business-regardless-of-economy-2-768x512.webp" alt=""></a>
              </div>
              <div>
                <p><a href="#">Start Your Business Regardless of the Economy</a></p>
              </div>
            </article>
            <article class="writing-portfolio-links">
              <div class="writing-portfolio-gallery-image">
                <a href="#"><img src="/seo writing and media/start-your-business-regardless-of-economy-2-768x512.webp" alt=""></a>
              </div>
              <div>
                <p><a href="#">Start Your Business Regardless of the Economy</a></p>
              </div>
            </article>
            <article class="writing-portfolio-links">
              <div class="writing-portfolio-gallery-image">
                <a href="#"><img src="/seo writing and media/start-your-business-regardless-of-economy-2-768x512.webp" alt=""></a>
              </div>
              <div>
                <p><a href="#">Start Your Business Regardless of the Economy</a></p>
              </div>
            </article>
            <article class="writing-portfolio-links">
              <div class="writing-portfolio-gallery-image">
                <a href="#"><img src="/seo writing and media/start-your-business-regardless-of-economy-2-768x512.webp" alt=""></a>
              </div>
              <div>
                <p><a href="#">Start Your Business Regardless of the Economy</a></p>
              </div>
            </article>
            <article class="writing-portfolio-links">
              <div class="writing-portfolio-gallery-image">
                <a href="#"><img src="/seo writing and media/start-your-business-regardless-of-economy-2-768x512.webp" alt=""></a>
              </div>
              <div>
                <p><a href="#">Start Your Business Regardless of the Economy</a></p>
              </div>
            </article>
            <article class="writing-portfolio-links">
              <div class="writing-portfolio-gallery-image">
                <a href="#"><img src="/seo writing and media/start-your-business-regardless-of-economy-2-768x512.webp" alt=""></a>
              </div>
              <div>
                <p><a href="#">Start Your Business Regardless of the Economy</a></p>
              </div>
            </article>
            <article class="writing-portfolio-links">
              <div class="writing-portfolio-gallery-image">
                <a href="#"><img src="/seo writing and media/start-your-business-regardless-of-economy-2-768x512.webp" alt=""></a>
              </div>
              <div>
                <p><a href="#">Start Your Business Regardless of the Economy</a></p>
              </div>
            </article>
            <article class="writing-portfolio-links">
              <div class="writing-portfolio-gallery-image">
                <a href="#"><img src="/seo writing and media/start-your-business-regardless-of-economy-2-768x512.webp" alt=""></a>
              </div>
              <div>
                <p><a href="#">Start Your Business Regardless of the Economy</a></p>
              </div>
            </article>
            <article class="writing-portfolio-links">
              <div class="writing-portfolio-gallery-image">
                <a href="#"><img src="/seo writing and media/start-your-business-regardless-of-economy-2-768x512.webp" alt=""></a>
              </div>
              <div>
                <p><a href="#">Start Your Business Regardless of the Economy</a></p>
              </div>
            </article>
            <article class="writing-portfolio-links">
              <div class="writing-portfolio-gallery-image">
                <a href="#"><img src="/seo writing and media/start-your-business-regardless-of-economy-2-768x512.webp" alt=""></a>
              </div>
              <div>
                <p><a href="#">Start Your Business Regardless of the Economy</a></p>
              </div>
            </article>
            <article class="writing-portfolio-links">
              <div class="writing-portfolio-gallery-image">
                <a href="#"><img src="/seo writing and media/start-your-business-regardless-of-economy-2-768x512.webp" alt=""></a>
              </div>
              <div>
                <p><a href="#">Start Your Business Regardless of the Economy</a></p>
              </div>
            </article>
            <article class="writing-portfolio-links">
              <div class="writing-portfolio-gallery-image">
                <a href="#"><img src="/seo writing and media/start-your-business-regardless-of-economy-2-768x512.webp" alt=""></a>
              </div>
              <div>
                <p><a href="#">Start Your Business Regardless of the Economy</a></p>
              </div>
            </article>
            <article class="writing-portfolio-links">
              <div class="writing-portfolio-gallery-image">
                <a href="#"><img src="/seo writing and media/start-your-business-regardless-of-economy-2-768x512.webp" alt=""></a>
              </div>
              <div>
                <p><a href="#">Start Your Business Regardless of the Economy</a></p>
              </div>
            </article>
            <article class="writing-portfolio-links">
              <div class="writing-portfolio-gallery-image">
                <a href="#"><img src="/seo writing and media/start-your-business-regardless-of-economy-2-768x512.webp" alt=""></a>
              </div>
              <div>
                <p><a href="#">Start Your Business Regardless of the Economy</a></p>
              </div>
            </article>
            <article class="writing-portfolio-links">
              <div class="writing-portfolio-gallery-image">
                <a href="#"><img src="/seo writing and media/start-your-business-regardless-of-economy-2-768x512.webp" alt=""></a>
              </div>
              <div>
                <p><a href="#">Start Your Business Regardless of the Economy</a></p>
              </div>
            </article>
            <article class="writing-portfolio-links">
              <div class="writing-portfolio-gallery-image">
                <a href="#"><img src="/seo writing and media/start-your-business-regardless-of-economy-2-768x512.webp" alt=""></a>
              </div>
              <div>
                <p><a href="#">Start Your Business Regardless of the Economy</a></p>
              </div>
            </article>
            <article class="writing-portfolio-links">
              <div class="writing-portfolio-gallery-image">
                <a href="#"><img src="/seo writing and media/start-your-business-regardless-of-economy-2-768x512.webp" alt=""></a>
              </div>
              <div>
                <p><a href="#">Start Your Business Regardless of the Economy</a></p>
              </div>
            </article>
            <article class="writing-portfolio-links">
              <div class="writing-portfolio-gallery-image">
                <a href="#"><img src="/seo writing and media/start-your-business-regardless-of-economy-2-768x512.webp" alt=""></a>
              </div>
              <div>
                <p><a href="#">Start Your Business Regardless of the Economy</a></p>
              </div>
            </article>
            <article class="writing-portfolio-links">
              <div class="writing-portfolio-gallery-image">
                <a href="#"><img src="/seo writing and media/start-your-business-regardless-of-economy-2-768x512.webp" alt=""></a>
              </div>
              <div>
                <p><a href="#">Start Your Business Regardless of the Economy</a></p>
              </div>
            </article>
        </div>
      </div>

    </section>

    <section id="media-production-portfolio">
      <h2>MEDIA PRODUCTION PORTFOLIO</h2>
      <div class="media-production-portfolio-subtext">
        <div class="media-production-portfolio-subtext-container">
          <p>I got started in marketing with video. At Firstborn, Buck, and Shilo, I designed and animated content for famous brands including Aflac,
             Fruit Snacks, Google, IBM, Nationwide, Sherwin Williams, Skittles, SoBe, State Farm, and Wrigley.
           </p>
           <p>
             Today, I write scripts and then hire talented artists to handle production.
              This allows me to flexibly create any kind of video content you need – commercials, brand films, product demos, social media videos, explainer videos, and more.
           </p>
        </div>
      </div>
      <div class="media-production-portfolio-gallery">
        <div class="media-production-portfolio-grid">
            <article class="media-production-portfolio-gallery-item">
              <div class="media-production-portfolio-gallery-video">
                <iframe src="https://player.vimeo.com/video/244929114?color&autopause=0&loop=0&muted=0&title=0&portrait=0&byline=0#t="  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
              <div>
                <p>Commercial</p>
              </div>
            </article>
            <article class="media-production-portfolio-gallery-item">
              <div class="media-production-portfolio-gallery-video">
                <iframe src="https://player.vimeo.com/video/290634565?color&autopause=0&loop=0&muted=0&title=0&portrait=0&byline=0#t="  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
              <div>
                <p>App Advertisement</p>
              </div>
            </article>
            <article class="media-production-portfolio-gallery-item">
              <div class="media-production-portfolio-gallery-video">
                <iframe src="https://www.youtube.com/embed/aDx5ACdVKAo?controls=1&rel=0&playsinline=0&modestbranding=0&autoplay=0&enablejsapi=1&origin=https%3A%2F%2Fnexusmktg.com&widgetid=1"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
              <div>
                <p>Product Video</p>
              </div>
            </article>
            <article class="media-production-portfolio-gallery-item">
              <div class="media-production-portfolio-gallery-video">
                <iframe src="https://www.youtube.com/embed/oH0nH2JZIaA?feature=oembed&color&autopause=0&loop=0&muted=0&title=0&portrait=0&byline=0"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
              <div>
                <p>Explainer Video</p>
              </div>
            </article>
            <article class="media-production-portfolio-gallery-item">
              <div class="media-production-portfolio-gallery-video">
                <iframe src="https://www.youtube.com/embed/1OCUrUarQL4?controls=1&rel=0&playsinline=0&modestbranding=0&autoplay=0&enablejsapi=1&origin=https%3A%2F%2Fnexusmktg.com&widgetid=3"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
              <div>
                <p>App Demo Video</p>
              </div>
            </article>
            <article class="media-production-portfolio-gallery-item">
              <div class="media-production-portfolio-gallery-video">
                <iframe src="https://player.vimeo.com/video/244925270?color&autopause=0&loop=0&muted=0&title=0&portrait=0&byline=0#t="  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
              <div>
                <p>NewsLetter Video Embed</p>
              </div>
            </article>
            <article class="media-production-portfolio-gallery-item">
              <div class="media-production-portfolio-gallery-video">
                <iframe src="https://player.vimeo.com/video/244931639?color&autopause=0&loop=0&muted=0&title=0&portrait=0&byline=0#t="  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
              <div>
                <p>Holiday Ad</p>
              </div>
            </article>
            <article class="media-production-portfolio-gallery-item">
              <div class="media-production-portfolio-gallery-video">
                <iframe src="https://www.youtube.com/embed/vWQq2IQ9YS0?controls=1&rel=0&playsinline=0&modestbranding=0&autoplay=0&enablejsapi=1&origin=https%3A%2F%2Fnexusmktg.com&widgetid=5"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
              <div>
                <p>Podcast Episode</p>
              </div>
            </article>
            <article class="media-production-portfolio-gallery-item">
              <div class="media-production-portfolio-gallery-video">
                <iframe src="https://player.vimeo.com/video/244931333?color&autopause=0&loop=0&muted=0&title=0&portrait=0&byline=0#t="  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
              <div>
                <p>Social Media Ad</p>
              </div>
            </article>
        </div>
      </div>
    </section>

    <section id="book-a-consultation">
      <div class="container-box">

        <div class="book-a-consultation-grid">
          <div class="book-a-consultation-container">
            <img class="book-a-consultation-img" src="Brett-Wharton-web-developer-SEO-specialist-on-Zoom-1024x1024.webp" alt="">
          </div>

          <div class="book-a-consultation-container">
            <h2 class="book-a-consultation-container-h2">BOOK A CONSULTATION</h2>
            <div class="book-a-cons-paragraph">
              <p class="light-gray">
                Let's talk strategy.
              </p>
            </div>
            <div class="center-flexbox">
              <form action="https://www.upwork.com/services/consultation/development-it-brett-1471225930158305280" target="_blank">
                <button class="visit-website_button" type="submit" name="button">Book Now</button>
              </form>
            </div>
            <div class="book-a-cons-paragraph">
              <p>If the booking link doesn’t work,
                try clearing your cache and ensuring you allow pop-ups. Alternatively, text 208-921-6474.</p>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section id="footer">
      <%- include('./partials/footer.ejs') %>
    </section>
    <%- include('./partials/index-bootstrap-js.ejs') %>
  </body>
</html>
