<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include('../partials/head-sublinks.ejs') %>

  <body>

    <%- include('../partials/nav.ejs') %>

    <section id="carousel">

    <div class="container-box">
      <div class="carousel-grid">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Slide 11"></button>
          </div>

          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="website portfolio/deliberate directions/Deliberate-Directions-1.webp" class="responsive-image" alt="...">
            </div>
            <div class="carousel-item">
              <img src="website portfolio/deliberate directions/Deliberate-Directions-2.webp" class="responsive-image" alt="...">
            </div>
            <div class="carousel-item">
              <img src="website portfolio/deliberate directions/Deliberate-Directions-3.webp" class="responsive-image" alt="...">
            </div>
            <div class="carousel-item">
              <img src="website portfolio/deliberate directions/Deliberate-Directions-4.webp" class="responsive-image" alt="...">
            </div>
            <div class="carousel-item">
              <img src="website portfolio/deliberate directions/Deliberate-Directions-5.webp" class="responsive-image" alt="...">
            </div>
            <div class="carousel-item">
              <img src="website portfolio/deliberate directions/Deliberate-Directions-6.webp" class="responsive-image" alt="...">
            </div>
            <div class="carousel-item">
              <img src="website portfolio/deliberate directions/Deliberate-Directions-7.webp" class="responsive-image" alt="...">
            </div>
            <div class="carousel-item">
              <img src="website portfolio/deliberate directions/Deliberate-Directions-8.webp" class="responsive-image" alt="...">
            </div>
            <div class="carousel-item">
              <img src="website portfolio/deliberate directions/Deliberate-Directions-9.webp" class="responsive-image" alt="...">
            </div>
            <div class="carousel-item">
              <img src="website portfolio/deliberate directions/Deliberate-Directions-10.webp" class="responsive-image" alt="...">
            </div>
            <div class="carousel-item">
              <img src="website portfolio/deliberate directions/Deliberate-Directions-11.webp" class="responsive-image" alt="...">
            </div>
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </button>
        </div>

        <div class="carousel-grid-description-container">
          <div class="carousel-grid-description-container_h5">
            <h5>BUSINESS COACHING WEBSITE</h5>
          </div>
          <div class="carousel-grid-description-container_h2">
            <h2>DELIBERATE DIRECTIONS</h2>
          </div>
          <div class="carousel-grid-description-container_paragraph1">
            <p>Deliberate Directions provides coaching, in-person and online trainings, and online resources to help businesses succeed.</p>
          </div>
          <div class="carousel-grid-description-container_paragraph2">
            <p>Built in: <strong>WordPress / Elementor</strong></p>
          </div>
          <div class="carousel-grid-description-container_button">
            <form class="" action="https://www.deliberatedirections.com/" target="_blank" method="post">
              <button class="visit-website_button" type="submit" name="button">VISIT WEBSITE</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    </section>

    <section id ="description">
      <div class="description-grid">
        <div class="description-container1">
          <p>Nexus came onboard in 2019 when Deliberate Directions had a Wix website receiving 400 visitors per month.
             Deliberate Directions initially requested that we update the website,
              so we wrote new content and improved the website’s organization.</p>
          <p>Deliberate Directions decided to invest $800/month in their website and SEO.
             Using this budget, we created and executed a comprehensive SEO strategy.</p>
          <ul>
            <li>We built a new
                <a href="https://www.deliberatedirections.com/" onclick="javascript:window.open('https://www.deliberatedirections.com/', '_blank', 'noopener'); return false;">WordPress website</a>
                 and created landing pages for
                 <a href="https://www.deliberatedirections.com/executive-business-coaching/" onclick="javascript:window.open('https://www.deliberatedirections.com/executive-business-coaching/', '_blank', 'noopener'); return false;">executive coaching</a>
                 ,
                 <a href="https://www.deliberatedirections.com/whetstone/" onclick="javascript:window.open('https://www.deliberatedirections.com/whetstone/', '_blank', 'noopener'); return false;">an advisory board program</a>
                  and 6 other services.
            </li>
            <li>We wrote 12+ articles to launch a <a href="https://www.deliberatedirections.com/guides/" onclick="javascript:window.open('https://www.deliberatedirections.com/guides/', '_blank', 'noopener'); return false;">business blog</a>,
               and created a guest posting program so that the blog could sustain itself on a limited editing budget.</li>
            <li>We launched and grew a weekly podcast to <a href="https://www.youtube.com/c/DeliberateDirections" onclick="javascript:window.open('https://www.youtube.com/c/DeliberateDirections', '_blank', 'noopener'); return false;">530 YouTube subscribers</a> and 160 hours/month in watch time,
               with additional traction on iTunes, Google Podcasts, and Spotify.</li>
          </ul>
        </div>
        <div class="description-container2">
          <ul>
            <li>We built SEO backlinks and earned media placements, improving the website’s <a href="https://moz.com/learn/seo/domain-authority" onclick="javascript:window.open('https://moz.com/learn/seo/domain-authority', '_blank', 'noopener'); return false;">domain authority</a> from 12 to 29.</li>
            <li>We optimized the website speed to an “A” ranking on <a href="https://gtmetrix.com/reports/deliberatedirections.com/EN0TXQhS/" onclick="javascript:window.open('https://gtmetrix.com/reports/deliberatedirections.com/EN0TXQhS/', '_blank', 'noopener'); return false;">GTMetrix</a>.</li>
            <li>We ranked the site #1 in Google’s US organic search results for the keywords “best business coach”
               and “best business coaches”; #2 in the US after Hubspot for “business coaches”;
               and #6 in the US for “business coach” (after Hubspot, Forbes, Tony Robbins, Small Business Coach, and Brian Tracy).
               To achieve these ranking on our client’s top priority keywords, we created an <a href="https://www.deliberatedirections.com/best-business-coaches/" onclick="javascript:window.open('https://www.deliberatedirections.com/best-business-coaches/', '_blank', 'noopener'); return false;">article tailored to these keywords</a>.</li>
          </ul>
          <p>Today the Deliberate Directions website generates $400/month in revenue from product placements in the form of link insertions and guest posts.
             The site now averages more than 4,000 visitors per month and consistently attracts new subscribers.
              Nexus continues to build the Deliberate Directions online footprint on just $900/month.</p>
        </div>
      </div>
    </div>
    </section>

    <section id="footer">
      <%- include('../partials/footer.ejs') %>
    </section>
  <%- include('../partials/index-bootstrap-js.ejs') %>
  </body>

</html>
