<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include('../partials/head-sublinks.ejs') %>

  <body>

    <%- include('../partials/nav.ejs') %>

    <section id="carousel">

    <div class="container-box">
      <div class="carousel-grid">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
          </div>

          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="website portfolio/pass request/PASS-Request-1-scaled.webp" class="responsive-image" alt="...">
            </div>
            <div class="carousel-item">
              <img src="website portfolio/pass request/PASS-Request-2-scaled.webp" class="responsive-image" alt="...">
            </div>
            <div class="carousel-item">
              <img src="website portfolio/pass request/PASS-Request-3-scaled.webp" class="responsive-image" alt="...">
            </div>
            <div class="carousel-item">
              <img src="website portfolio/pass request/PASS-Request-4-scaled.webp" class="responsive-image" alt="...">
            </div>
            <div class="carousel-item">
              <img src="website portfolio/pass request/PASS-Request-5-scaled.webp" class="responsive-image" alt="...">
            </div>
            <div class="carousel-item">
              <img src="website portfolio/pass request/PASS-Request-6-scaled.webp" class="responsive-image" alt="...">
            </div>
            <div class="carousel-item">
              <img src="website portfolio/pass request/PASS-Request-7-scaled.webp" class="responsive-image" alt="...">
            </div>
            <div class="carousel-item">
              <img src="website portfolio/pass request/PASS-Request-8-scaled.webp" class="responsive-image" alt="...">
            </div>
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </button>
        </div>

        <div class="carousel-grid-description-container">
          <div class="carousel-grid-description-container_h5">
            <h5>blank</h5>
          </div>
          <div class="carousel-grid-description-container_h2">
            <h2>PASS REQUEST</h2>
          </div>
          <div class="carousel-grid-description-container_paragraph1">
            <p>PASS Request is a team of experts who help clients get great ROIs with Google Ads, Facebook Ads, Amazon Ads, and more.</p>
          </div>
          <div class="carousel-grid-description-container_paragraph2">
            <p>Built in: <strong>WordPress / Elementor</strong></p>
          </div>
          <div class="carousel-grid-description-container_button">
            <form class="" action="https://passrequest.com/" target="_blank" method="post">
              <button class="visit-website_button" type="submit" name="button">VISIT WEBSITE</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    </section>

    <section id ="description">
      <div class="description-grid">
        <div class="description-container">
          <p>PASS Request had previously collaborated with Nexus on landing pages for their clients. In need of a website for themselves, PASS Request asked if we could produce a WordPress website with Elementor so they could easily edit the site after it was finished.
          </p>
          <p>We started by sharing links to a few high quality websites in the same industry. We noted what we liked about each site, and asked for the client’s input on what they liked or didn’t like. This process helped us to learn from the best websites in the client’s space, and to get a sense of what copywriting, features and design qualities PASS Request preferred.
          </p>
          <p>
            Next, we requested information about PASS Request. We usually ask clients to share information either in a Google Doc or a phone call, whichever is easier for the client. We asked:
          </p>
          <ol>
            <li>What makes PASS Request unique?</li>
            <li>What is the pitch to clients that you’ve had the most success with?</li>
            <li>Do you offer a satisfaction guarantee, or any kinds of guarantees?</li>
            <li>Can you share a list of 6+ clients we can feature?</li>
            <li>What adjectives would you use to describe your agency?</li>
            <li>Do you have any certifications we can feature?</li>
            <li>What are your services?</li>
            <li>Do you have any stats we can feature such as clients served, average costs, or average results?</li>
            <li>What is your call-to-action? Do you want visitors to schedule an appointment?</li>
            <li>What questions do clients ask you most frequently?</li>
            <li>Who are your team members? Can you share their names, headshots, and 3-sentence bios?</li>
            <li>Can you share a document with testimonials, or links to online testimonials?</li>
            <li>What verticals have you served so far?</li>
            <li>What are the steps for someone to work with you?</li>
            <li>Do you have any custom photos we can feature on your site?</li>
          </ol>
          <p>We used this information to write copy and plan the website’s layout. After sharing the website’s text with PASS Request, we proceeded to block out the site in Elementor.</p>
          <p>
            We updated the website to address a few notes from PASS Request. After receiving approval, we pointed the passrequest.com name servers to our Google Cloud hosting, launching the <a href="https://passrequest.com/" onclick="javascript:window.open('https://passrequest.com/', '_blank', 'noopener'); return false;">website</a>.
          </p>
        </div>
      </div>
    </div>
    </section>

    <section id="footer">
      <%- include('../partials/footer.ejs') %>
    </section>

  <%- include('../partials/index-bootstrap-js.ejs') %>
  </body>

</html>
